.header {
  background-color: #fab525;
}

.header-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
}

.nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-list {
    display: flex;
}

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav li :hover {
  text-decoration: underline;
}

@media (max-width: 600px) {

}
